log

.vagrant

data/output.n3
data/output.json

karma-web/karma.war
karma-offline/karma.jar

karma/alignment-graph
karma/models-autosave
karma/models-graphviz
karma/models-json
karma/repository
karma/semantic-type-files
karma/user-preferences
karma/user-uploaded-files